/* .text-primary, .border-left-primary, .sidebar-dark .nav-item .nav-link .fa-fw {
    color: #f48fb1 !important;
}

.border-left-primary {
    border-left: 0.25rem solid #f48fb1 !important;
}

.bg-gradient-primary {
    background: linear-gradient(180deg, #f48fb1 10%, #f48fb1 100%) !important;
}

.sidebar-dark .nav-item.active .nav-link {
    color: #f48fb1 !important;
} */
