/* Reset CSS untuk menghilangkan margin dan padding default serta mengatur box-sizing dan font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Hero section yang mengambil lebar penuh dan minimal setinggi viewport dengan padding dan posisi relatif */
.hero {
    width: 100%;
    min-height: 100vh;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}

/* Menambahkan gambar latar belakang yang di-blur untuk hero section */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('mochi1.jpeg');
    background-position: center;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
}

/* Navigasi dengan fleksbox untuk distribusi elemen, pembatasan lebar maksimal dan penyesuaian margin/padding */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Ukuran logo */
.logo {
    width: 140px;
}

/* Menampilkan item navigasi secara inline tanpa bullet point dan dengan margin */
nav ul {
    display: flex;
    list-style: none;
}

/* Menampilkan item navigasi secara inline tanpa bullet point dan dengan margin */
nav ul li {
    margin: 10px 15px;
}

/* Link navigasi tanpa garis bawah dengan warna teks dan font tebal */
nav ul li a {
    text-decoration: none;
    color: #0d0909;
    font-weight: bold;
}

/* Kelas tombol logout dengan teks putih dan ikon */
.logout-btn {
    text-decoration: none;
    color: #000000;
    margin-right: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

/* Gaya untuk ikon logout */
.logout-btn i {
    margin-right: 8px;
}

/* Kelas tombol umum dengan padding, warna teks, background gradient, dan border radius serta transisi */
.btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(40deg, #ffacc8, #f46d6d);
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

/* Bagian konten dengan margin atas dan lebar maksimal */
.content {
    margin-top: 10%;
    max-width: 600px;
}

/* Gaya untuk judul konten dengan ukuran font besar dan warna */
.content h1 {
    font-size: 70px;
    color: #080505;
}

/* Paragraf dalam konten dengan margin, warna teks dan penundaan animasi */
.content p {
    margin: 10px 0 30px;
    color: #0c0909;
    animation-delay: 0.5s;
}

/* Tombol dalam konten dengan padding, ukuran font, dan penundaan animasi */
.content .btn {
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}

/* Efek hover pada tombol yang mengubah border radius */
.btn:hover {
    border-top-right-radius: 30px;
}

/* Animasi */
.anim {
    opacity: 0;
    transform: translate(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translate(0px);
    }
}

/* Media queries untuk membuat situs responsif */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        padding: 0;
        margin: 0;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .content {
        margin-top: 20%;
        max-width: 100%;
    }

    .content h1 {
        font-size: 50px;
    }

    .content p {
        font-size: 14px;
    }

    .content .btn {
        padding: 10px 40px;
        font-size: 14px;
    }

    .feature-img {
        width: 100%;
        position: static;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 10px 5%;
    }

    .content h1 {
        font-size: 40px;
    }

    .content p {
        font-size: 12px;
    }

    .content .btn {
        padding: 10px 30px;
        font-size: 12px;
    }

    .feature-img {
        width: 100%;
        margin-top: 20px;
    }
}

/* style_produk.css */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3px 5%;
}

.product-card {
    background-color: #eef5df;
    border: 1px solid #fff3f3;
    border-radius: 5px;
    width: 190px;
    margin: 20px;
    box-shadow: 0 2px 5px rgb(235, 230, 230);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.product-card h2 {
    font-size: 1.5em;
    color: #484444;
    margin: 10px 0;
}

.product-card .btn {
    padding: 10px 30px;
    font-size: 14px;
    margin: 20px 0;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgb(79, 78, 78);
}

/* Bagian Footer */
footer {
    text-align: center;
    padding: 1em 0;
    color: #fff;
    margin-top: 20px;
}

footer p {
    margin: 1;
}

/* Media queries untuk membuat situs responsif */
@media (max-width: 768px) {
    .product-card {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .product-card {
        width: 100%;
        margin: 10px 0;
    }
}
